1. Listázzuk a <span style="color: #800000;">`kolcsonzes`</span> tábla következő oszlopait: ID, ki\_datum, vissza\_datum! 

  

a.  Az ID oszlop neve legyen Azonosító

b.  A ki\_datum oszlop neve legyen Kölcsönzés\_dátuma

c.  A vissza\_datum oszlop neve legyen Visszahozatal\_dátuma

In [ ]:
SELECT ID AS "Azonosító",
    ki_datum AS "Kölcsönzés_dátuma", 
    vissza_datum AS "Visszahozatal_dátuma" --a visszahozatal dátuma
FROM kolcsonzesek

2. Melyek azok a kölcsönzések, amelyek 2005.01.01 és 2007.01.01 között történtek?

In [ ]:
SELECT * --az összes oszlop listája
FROM kolcsonzesek
WHERE ki_datum >= '2005.01.01' AND 
      ki_datum <= '2007.01.01'
--WHERE ki_datum Between '2005-01-01' AND '2007-01-01'

3. Melyek azok a tagok, akiknek kedvenc stílusa a játék, és nevük a-ra végződik?

  

a.  Csak a tagok neve jelenjen meg, az oszlop neve Név legyen

In [ ]:
SELECT nev AS 'NÉV'
FROM tagok
WHERE kedvencstilus = 'játék' AND 
      nev LIKE '%a'

4. Listázzuk egy oszlopban a tagok nevét, címét és kedvenc stílusát összefűzve! 

  

a.  A nevet, címet és a stílust kötőjellel válasszuk el

b.  A kötőjelek előtt és után legyen 1-1 szóköz

c.  Az oszlop neve legyen TAG

d.  Kinga keresztnevű tagok ne legyenek benne a listában

In [ ]:
SELECT nev+' - '+cim+' - '+kedvencstilus AS 'TAG'
FROM tagok
WHERE nev NOT LIKE '%Kinga'

5. Mennyi lenne a dvd-k nettó ára, ha 20%-kal csökkenne? 

  

a.  Csak a dvd-k címét és a csökkentett árat jelenítsük meg

b.  A csökkentett árat nevezzük el diszkont\_ar-nak

In [ ]:
SELECT cim AS'Cím', 
    nettoar*0.8 AS 'diszkont_ar'
FROM dvd

6. Melyek azok a kölcsönzések, ahol még nem hozták vissza a dvd-t?

In [ ]:
SELECT ID AS 'Azonosító'
FROM kolcsonzesek
WHERE vissza_datum IS NULL

7. Listázzuk azon diákok nevét és születési idejét, akik 1984-ben vagy 1985-ben születtek!  

  

a.  A születési dátum csak az évet, hónapot és a napot tartalmazza! 

b.  A születési dátum oszlopát nevezzük el 'Születési idő'-nek!

In [ ]:
SELECT Nev,
    --CAST(Szulido AS nvarchar(11))
    CAST(YEAR(Szulido) AS nvarchar(4)) + '.' +
    CAST(MONTH(Szulido) AS nvarchar(2)) + '.' +
    CAST(DAY(Szulido) AS nvarchar(2))
    -- CAST(Szulido AS date)
    --Format? majd nézz rá
FROM diak
WHERE YEAR(Szulido) IN (1984, 1985)

8. Készítsünk lekérdezést, amely a tanulók nevét és az ebből képzett felhasználói nevét tartalmazza. 

  

a.  A felhasználói név álljon a név első kettő, illetve utolsó kettő betűjének összefűzéséből!

b.  A listát szűrjük azon tanulókra, akik teljes neve - szóközzel együtt - legalább 10 betűs!

In [ ]:
SELECT Nev,
     LEFT(Nev,2) + RIGHT(Nev,2) AS 'Felhasználó név'
FROM diak
WHERE LEN(Nev) >= 10

9. Készítsünk listát a diákok adatairól, ahol a diákok neve úgy jelenik meg, hogy először a keresztnév, majd a vezetéknév, közöttük szóközzel!  

a.  Ezen felül a születési idő három külön oszlopban jelenjen meg (év, hónap, nap). 

b.  Az oszlopokat nevezzük el értelemszerűen!

In [9]:
SELECT Concat(RIGHT(Nev, LEN(Nev) - CHARINDEX(' ',Nev)),' ',LEFT(Nev,CHARINDEX(' ',Nev)-1)) As 'Nev',
    YEAR(Szulido) AS 'Év', 
    MONTH(Szulido) AS 'Hónap', 
    DAY(Szulido) AS 'Nap'
FROM diak

Nev,Év,Hónap,Nap
Péter Kos,1987,11,5
Imre Port,1990,5,5
Imre Kovács,1984,3,2
Emil Horváth,1988,5,2
Petra Kapos,1985,12,23
Anna Csóka,1981,11,30
Tamás Nyúl,1988,2,16
Emma Ordasi,1989,1,3
Olga Koppány,1984,2,28
Patrícia Kozma,1983,6,1

10. Készítsünk listát a munkák azonosítójáról és megnevezéséről! Egy új oszlopban azt is jelenítsük meg, hogy melyik munka hetente mennyit fizet! 

a.  Az oszlop neve legyen Heti bér, az értéket kerekítsük 1000 forintra! 

b.  A listát szűrjük azon rekordokra, ahol a kerekített heti bér 10000 Ft felett van!

In [ ]:
SELECT munkaId AS 'Azonosító',
    allas AS 'Állás',
    ROUND(oradij *oraszam*5,-3) AS 'Heti bér'
FROM munka
WHERE ROUND(oradij *oraszam*5,-3) > 10000

11. A diákok számára differenciált béremelést terveznek: a középiskolások esetében 33%, egyéb esetben 17% mértékben. Készítsünk listát, amely tartalmazza a munkák azonosítóját, az állás nevét, az eredeti óradíjat és a tervezett emelt óradíjat.

  

a.  Az oszlopoknak adjuk nevet értelemszerűen!

b.  Az emelt óradíj összegét kerekítsük egészre! (Az esetlegesen megjelenő 0 tizedesjegyekkel ne foglalkozzunk)

In [ ]:
SELECT munkaId AS 'Azonosító',
    allas AS 'Állás név',
    oradij AS 'Óra díj',
    CASE
        WHEN kozepiskolas IS NULL THEN ROUND(oradij * 1.17,0)
        WHEN kozepiskolas IS NOT NULL THEN ROUND(oradij*1.33,0)
    END AS "Emelt"
FROM munka

12. A diákok számára próbaidőt írnak elő, amely a munka kezdetétől számítva 3 hónapig tart.    Jelenítsük meg a munka tábla adatait egy új oszloppal kiegészítve, amelyik a próbaidő    végének dátumát mutatja!  

  

a.  Az oszlop neve Próbaidő vége legyen! 

b.  A lista ne tartalmazza azokat a munkákat, ahol a diákok azonosítója nincs megadva!

In [ ]:
SELECT *,
     DATEADD(month,3,CAST(datum AS date)) AS "Próbaidő vége"
FROM munka
WHERE DiakAz IS NOT NULL

13. Készítsünk listát a munkák azonosítóiról és a megnevezésükről! A megnevezés allas-óraszám formában jelenjen meg, pl: eladó-4. 

  

a.  Jelenítsük meg a dátumot is, de csak a évet és a hónapot, pl: 2003-07! 

b.  Ennek az oszlopnak 'Kezdés hónapja' legyen a neve! A listát szűrjük a nyári hónapokra!

In [ ]:
SELECT munkaId,
    CONCAT(allas,'-',oraszam) As 'Megnevezés',
    CONCAT(YEAR(datum),'-',MONTH(datum)) As 'Kezdés hónapja'
FROM munka
WHERE MONTH(datum) IN (6,7,8)

14. Készítsünk listát a diákok adatairól, amely a Nev oszlop helyén a diák monogramját jeleníti meg (keresztnév, illetve vezetéknév első betűje összefűzve). 

a.  A listát szűrjük 1983.01.01 és 1987.06.01 között született diákokra!

In [12]:
SELECT DiakAz,
    CONCAT(UPPER(LEFT(NEV,1)),UPPER(LEFT(RIGHT(Nev,LEN(Nev)-CHARINDEX(' ',Nev)),1))) AS Név,
    Szulido
FROM diak
WHERE Szulido BETWEEN '1983-01-01' AND '1987-06-01'

DiakAz,Név,Szulido
3,KI,1984-03-02 00:00:00.000
5,KP,1985-12-23 00:00:00.000
9,KO,1984-02-28 00:00:00.000
10,KP,1983-06-01 00:00:00.000

15. A diákok a munkakezdés évének utolsó napján bónuszt kapnak, amennyiben az adott évben legalább 6 hónapot dolgoznak. 

  

a.  Jelenítsük meg, hogy az egyes munkák adatait, egy új oszlopban az éves bónusz napját is 'Bónusz dátum' néven! 

b.  A lista csak a bónuszra jogosultak adatait tartalmazza!

In [7]:
SELECT *, CAST(CAST(YEAR(datum) AS nvarchar)+ '-12-31'AS date) AS 'Bónusz dátum'
FROM munka
WHERE DATEDIFF(MONTH, datum, CAST(CAST(YEAR(datum) AS nvarchar)+ '-12-31'AS date)) >=6

munkaId,MhelyId,DiakAz,allas,datum,oradij,oraszam,kozepiskolas,Bónusz dátum
8,9,NULL,kisegítő,2003-06-19 00:00:00.000,300,4,0,2003-12-31
9,9,6,takarító,2003-06-19 00:00:00.000,400,4,0,2003-12-31
10,9,6,takarító,2003-06-20 00:00:00.000,400,4,0,2003-12-31
11,9,8,kisegítő,2003-06-21 00:00:00.000,300,6,1,2003-12-31
12,9,8,kisegítő,2003-06-22 00:00:00.000,300,6,1,2003-12-31
13,9,6,takarító,2003-06-23 00:00:00.000,400,4,0,2003-12-31
16,6,5,pincér,2003-06-11 00:00:00.000,450,6,0,2003-12-31
17,6,5,pincér,2003-06-12 00:00:00.000,450,6,0,2003-12-31
22,11,5,eladó,2003-05-10 00:00:00.000,400,4,0,2003-12-31
23,11,6,raktáros,2003-05-20 00:00:00.000,300,4,0,2003-12-31
24,11,5,eladó,2003-06-23 00:00:00.000,300,6,0,2003-12-31
38,5,7,eladó,2003-06-05 00:00:00.000,400,4,0,2003-12-31
39,5,7,eladó,2003-06-06 00:00:00.000,400,4,0,2003-12-31
40,5,7,eladó,2003-06-07 00:00:00.000,400,4,0,2003-12-31