**Átlagos megállapítások**

In [12]:
SELECT
    MIN(LISTAAR) AS 'Minimum ár',
    MAX(LISTAAR) As 'Maximum ár',
    AVG(LISTAAR) AS 'Átlagos ár'
FROM termek
WHERE LISTAAR >0;

Minimum ár,Maximum ár,Átlagos ár
3,46000,"787,7109090909091"

NULL ÉRTÉKEKE ARÁNYAA

In [17]:
SELECT 
    COUNT(*) AS osszes_rekord,
    SUM(CASE WHEN termekkod IS NOT NULL THEN 1 ELSE 0 END) AS nem_null_termekkod,
    SUM(CASE WHEN LISTAAR IS NOT NULL THEN 1 ELSE 0 END) AS nem_null_listaar,
    SUM(CASE WHEN KAT_ID IS NOT NULL THEN 1 ELSE 0 END) AS nem_null_kategoria,
    SUM(CASE WHEN LISTAAR IS NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(*) AS lista_ar_null_arany,
    SUM(CASE WHEN KAT_ID IS NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(*) AS kategoria_null_arany
FROM termek;

osszes_rekord,nem_null_termekkod,nem_null_listaar,nem_null_kategoria,lista_ar_null_arany,kategoria_null_arany
551,551,551,551,0.000000000000,0.000000000000

**Kategória szerinti csoportosítás**

In [20]:
SELECT KAT_ID, COUNT(*) AS 'Darab'
FROm termek
GROUP BY KAT_ID
ORDER BY 2 DESC

KAT_ID,Darab
52,26
78,24
6,20
19,19
145,18
85,16
4,15
41,13
45,11
97,10
124,10
100,9
96,9
118,9
91,7
93,7
122,7
146,7
46,7
66,7
35,7
24,7
30,7
16,7
54,6
149,6
152,6
133,6
83,6
76,5
106,5
138,5
60,5
21,5
28,5
36,5
25,4
14,4
64,4
79,4
56,4
59,4
47,4
125,4
154,4
151,4
98,4
89,3
119,3
111,3
143,3
137,3
43,3
27,3
51,3
58,3
70,3
5,3
7,3
8,3
20,3
32,3
39,2
22,2
13,2
18,2
9,2
71,2
72,2
73,2
65,2
67,2
68,2
62,2
75,2
57,2
55,2
48,2
49,2
136,2
134,2
141,2
123,2
127,2
128,2
129,2
144,2
150,2
112,2
121,2
116,2
117,2
110,2
104,2
90,2
88,2
94,2
95,2
92,2
99,1
101,1
103,1
84,1
86,1
105,1
107,1
108,1
109,1
114,1
115,1
147,1
148,1
155,1
153,1
130,1
131,1
132,1
126,1
142,1
139,1
140,1
135,1
50,1
44,1
53,1
80,1
82,1
61,1
74,1
10,1
11,1
12,1
15,1
17,1
40,1
42,1
37,1
38,1
33,1
34,1
31,1
26,1
29,1

In [23]:
SELECT 
    YEAR(FELVITEL) AS 'Év',
    MONTH(FELVITEL) AS 'HÓnap',
    COUNT(*) AS termek_db
FROM termek
WHERE FELVITEL IS NOT NULL
GROUP BY YEAR(FELVITEL), MONTH(FELVITEL)
ORDER BY 1 DESC, 2 DESC;

Év,HÓnap,termek_db
2016,12,1
2016,9,1
2016,8,194
2016,7,355

In [ ]:
SELECT termekkod, SUM(RAKTAr_KOD)
FROM Termek
WHERE MONTH(Felvitel) = 7
GROUP BY termekkod
ORDER BY 2