**Átlagos megállapítások**

In [ ]:
SELECT
    MIN(LISTAAR) AS 'Minimum ár',
    MAX(LISTAAR) As 'Maximum ár',
    AVG(LISTAAR) AS 'Átlagos ár'
FROM termek
WHERE LISTAAR >0;

NULL ÉRTÉKEKE ARÁNYAA

In [ ]:
SELECT 
    COUNT(*) AS osszes_rekord,
    SUM(CASE WHEN termekkod IS NOT NULL THEN 1 ELSE 0 END) AS nem_null_termekkod,
    SUM(CASE WHEN LISTAAR IS NOT NULL THEN 1 ELSE 0 END) AS nem_null_listaar,
    SUM(CASE WHEN KAT_ID IS NOT NULL THEN 1 ELSE 0 END) AS nem_null_kategoria,
    SUM(CASE WHEN LISTAAR IS NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(*) AS lista_ar_null_arany,
    SUM(CASE WHEN KAT_ID IS NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(*) AS kategoria_null_arany
FROM termek;

**Kategória szerinti csoportosítás**

In [ ]:
SELECT KAT_ID, COUNT(*) AS 'Darab'
FROm termek
GROUP BY KAT_ID
ORDER BY 2 DESC

In [ ]:
SELECT 
    YEAR(FELVITEL) AS 'Év',
    MONTH(FELVITEL) AS 'HÓnap',
    COUNT(*) AS termek_db
FROM termek
WHERE FELVITEL IS NOT NULL
GROUP BY YEAR(FELVITEL), MONTH(FELVITEL)
ORDER BY 1 DESC, 2 DESC;