In [13]:
--FELADAT 1
SELECT szh.SZALLAS_ID, 
    szh.SZALLAS_NEV, 
    COUNT(*)
FROM Szallashely szh JOIN Szoba sz ON szh.SZALLAS_ID = sz.SZALLAS_FK
WHERE KLIMAS = 'i'
GROUP BY szh.SZALLAS_ID, szh.SZALLAS_NEV

SZALLAS_ID,SZALLAS_NEV,(No column name)
1,Sába-Ház,10
2,Családi Ház,4
3,Fortuna Apartman,5
4,Fortuna panzió,12
5,Fortuna Panzió,8
6,Kentaur Hotel,22
7,Szieszta Apartmanház,4
8,Hotel Három Hattyú,28
9,Jáde panzió,2
10,Lagúna Hotel,15
11,Partiszél Vendégház,4
12,Gold Hotel,42
13,Riviéra Panzió,8
14,Nyárfás Vendégház,4
15,Tímárház Panzió,9
16,Bagoly Hotel,14
17,Szarvas Hotel,11
18,Fortuna Apartman,2
19,Nyárfás Vendégház,2
20,Kollégium,9

In [19]:
-- FELADAT 2

SELECT COUNT(*) AS 'Foglalásszám',
    CASE
        WHEN YEAR(v.SZUL_DAT) > 1985 THEN 'fiatal'
        WHEN  YEAR(SZUL_DAT) < 1970 THEN 'idős'
        ELSE 'középkorú'
    END AS 'Kategória'
FROM Vendeg v JOIN Foglalas f ON v.USERNEV = f.UGYFEL_FK
WHERE (f.FELNOTT_SZAM +f.GYERMEK_SZAM) >= 2
GROUP BY    
    CASE
        WHEN YEAR(v.SZUL_DAT) > 1985 THEN 'fiatal'
        WHEN  YEAR(SZUL_DAT) < 1970 THEN 'idős'
        ELSE 'középkorú'
    END

Foglalásszám,Kategória
342,fiatal
96,idős
442,középkorú